//-----VARIABLES------

$primary: #6EEFF3;
$secondary: #E131ED;
$tertiary: #041738;
$background-color:#e59500;
$hover-background: #757575;
$color-text: #646464;
$color-white: #ffffff;
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;