@import '../../../scss/variables.scss';

.nav{
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    position: relative;
    padding-top: 1rem;

    .list{

        display:flex ;
        padding:0;
        font-size: 1rem;

        li{
            margin: 0 1rem 0 1rem;
            list-style-type:none;
            padding: 10px 20px;

            .link{
                text-decoration: none;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                position: relative;
            }

            .link:before{
                content: "";
                width: 0;
                height: 5px;
                background-color: #6EEFF3;
                position:absolute;
                top: 120%;
                left: 0;
                transition: all 0.5s;
            }

            .link:after{
                content: "";
                width: 0;
                height: 5px;
                background-color: #E131ED;
                position:absolute;
                top: 120%;
                right: 0;
                transition: all 0.5s;
            }

            .link:hover:before{
                width: 50%;
                transform: translateX(100%)
            }

            .link:hover:after{
                width: 50%;
                transform: translateX(-100%)

            }
        }

        

    }
}